@import '~@angular/material/theming';

/**
 * Example of Custom Palette
 * Use a Material Palette generator such as:
 * http://mcg.mbitson.com/
 */

$custom-primary: (
    50: #e9f0f1,
    100: #c7d9dd,
    200: #a2c0c7,
    300: #7da7b0,
    400: #61949f,
    500: #45818e,
    600: #3e7986,
    700: #366e7b,
    800: #2e6471,
    900: #1f515f,
    A100: #9fe9ff,
    A200: #6cddff,
    A400: #39d2ff,
    A700: #1fccff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$custom-accent: (
    50: #f5fcea,
    100: #e5f7cb,
    200: #d4f2a9,
    300: #c2ed86,
    400: #b5e96c,
    500: #a8e552,
    600: #a0e24b,
    700: #97de41,
    800: #8dda38,
    900: #7dd328,
    A100: #ffffff,
    A200: #edffde,
    A400: #d2ffab,
    A700: #c5ff91,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$custom-warn: (
    50: #fcf1ea,
    100: #f7ddcb,
    200: #f2c6a9,
    300: #edaf86,
    400: #e99e6c,
    500: #e58d52,
    600: #e2854b,
    700: #de7a41,
    800: #da7038,
    900: #d35d28,
    A100: #ffffff,
    A200: #ffe7de,
    A400: #ffc3ab,
    A700: #ffb191,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$primary-palette: mat-palette($custom-primary);
$accent-palette: mat-palette($custom-accent);
$warn-palette: mat-palette($custom-warn);

$info-palette: mat-palette($mat-pink);
$success-palette: mat-palette($mat-green);
$neutral-palette: mat-palette($mat-blue-gray);
$light-palette: mat-palette($mat-gray, 100);

$theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);

@import 'build-theme';
