@use '@angular/material' as mat;

$primary-palette: mat.m2-define-palette(mat.$m2-blue-palette);
$accent-palette: mat.m2-define-palette(mat.$m2-blue-palette, 800);
$warn-palette: mat.m2-define-palette(mat.$m2-red-palette);

$theme: mat.m2-define-light-theme((
    color: (
        primary: $primary-palette,
        accent: $accent-palette,
        warn: $warn-palette
    )
));

@include mat.core();
@include mat.all-component-themes($theme);
