/* Bootstrap utilities (always loaded, independent of theme) */
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/utilities';

/* Resets */
* {
    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
    }

    &:active,
    :focus {
        outline: none !important;
    }
}

label {
    margin: 0;
}

html,
body {
    height: 100%;
}

.mat-mdc-card {
    margin: 1em;
}

.mat-icon {
    svg {
        vertical-align: unset; // fix svg icons vertical align
    }
}
