.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main-container {
    display: flex;
    flex: 1;
}

// Properly align menu icon with nav icons
.mat-toolbar-row {
    padding: 0 13px;
}
