:host {
    display: flex;
    flex: 1;
}

ul {
    padding-inline-start: 20px;
}

.page-container {
    margin: 1em 0.1em;
}

.mat-progress-spinner {
    display: inline-block;
    vertical-align: middle;
}

mat-drawer-container {
    flex: 0.99; // extends the width of mat drawer to fill screen (instead of adjusting to content)
    .mat-drawer {
        background: transparent;
    }
    .mat-drawer-side {
        border-right: none;
    }
    mat-drawer.sidenav {
        width: 300px;
    }
}
