<mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer
        class="sidenav"
        mode="side"
        [opened]="mediaObserver.isActive('gt-sm')"
    >
        <div
            *ngIf="mediaObserver.isActive('gt-sm'); then profileTemplate"
        ></div>
    </mat-drawer>

    <mat-drawer-content>
        <div
            *ngIf="mediaObserver.isActive('lt-md'); then profileTemplate"
        ></div>
        <div class="page-container">
            <mat-accordion multi>
                <mat-expansion-panel
                    *ngFor="let section of sections | async"
                    expanded
                >
                    <mat-expansion-panel-header>
                        <h5>{{ section.title }}</h5>
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                        <div
                            *ngIf="
                                section.title === 'Skills';
                                then skills;
                                else experience
                            "
                        ></div>
                        <ng-template #skills>
                            <button
                                mat-raised-button
                                color="accent"
                                class="m-1"
                                *ngFor="let content of section.contents"
                            >
                                {{ content }}
                            </button>
                        </ng-template>
                        <ng-template #experience>
                            <div *ngFor="let content of section.contents">
                                <h5>{{ content.title }}</h5>
                                <div>
                                    <div
                                        *ngIf="
                                            section.title === 'Projects';
                                            then link;
                                            else noLink
                                        "
                                    ></div>
                                    <ng-template #link>
                                        <a [href]="content.subtitle">
                                            {{ content.subtitle }}
                                        </a>
                                    </ng-template>
                                    <ng-template #noLink>
                                        <strong>{{ content.subtitle }}</strong>
                                    </ng-template>
                                </div>
                                <div
                                    class="text-muted"
                                    *ngIf="content.startDate"
                                >
                                    {{ content.startDate }} -
                                    {{ content.endDate }}
                                </div>
                                <ul class="mt-3">
                                    <li
                                        *ngFor="
                                            let bulletpoint of content.bulletpoints
                                        "
                                    >
                                        {{ bulletpoint }}
                                    </li>
                                </ul>
                            </div>
                        </ng-template>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<ng-template #profileTemplate>
    <mat-card>
        <mat-card-content>
            <img
                class="float-left m-2"
                src="https://avatars3.githubusercontent.com/u/25552995?s=235&v=4"
            />
            <div>
                <div class="lead">Luis Gutierrez</div>
                <p>
                    Software Engineering Manager with strong background on
                    Front-End Development and over 10 years of experience
                    delivering web applications ranging from public-facing
                    eCommerce websites to internal-use Cyber Security platforms.
                </p>
                <p>
                    Passionate about solving problems through technology,
                    leading software engineers to build best-in-class enterprise
                    applications and empower users with thoughtfully crafted
                    experiences.
                </p>
                <p>
                    Feel free to connect if you would like to collaborate or are
                    seeking Software Development opportunities! One
                </p>
            </div>
        </mat-card-content>
    </mat-card>
</ng-template>
