:host {
    display: flex;
    flex: 1;
}

.page-container {
    margin: 1em 0;
}

.mat-progress-spinner {
    display: inline-block;
    vertical-align: middle;
}

mat-drawer-container {
    .mat-drawer {
        background: transparent;
    }
    .mat-drawer-side {
        border-right: none;
    }
    mat-drawer.sidenav {
        width: 300px;
    }
}
